/* Side Menu */

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  margin-right: 0;
//  overflow-y: auto;
  background: rgba(77, 225, 167, 0.90);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow: hidden;

  @include breakpoint(tiny) {
    width: 250px;
    left: -250px;
  }

  .fa-tablet {
    position: relative;
    top: 0;
    left: -30px;
    font-size: 16px;
  }

  &.shrink {
    left: 200px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

    @include breakpoint(tiny) {
      width: 250px;
      left: -250px;
    }

    .nav-icon {
      position: relative;
      left: 5px;
    }

  }

}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;

  @include breakpoint(tiny) {
    top: 0;
  }
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 70px;
  font-size: 20px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: rgba(251, 255, 253, 0.90);


  .nav-icon {
    margin-right: 30px;
  }

}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f8f9ba;


  &.a {
    background: rgb(27, 125, 87);
  }

  &.b {
    background: rgb(27, 125, 87);
  }

  &.c {
    background: rgb(27, 125, 87);
  }

  &.d {
    background: rgb(27, 125, 87);
  }

  &.e {
    background: rgb(27, 125, 87);
  }

  &.f {
    background: rgb(27, 125, 87);
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
  margin-right: 20px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fbfbfb;

}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
}

#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: none;

  @include breakpoint (tiny) {
    display: block;
  }

}

#menu-toggle-lg {
  color: rgba(251, 255, 253, 0.90);

  @include breakpoint(tiny) {
    display: none;
  }

  &.shrink {
    margin-right: 1px;
    -webkit-transform: rotate(180deg) ;
    -moz-transform: rotate(180deg) ;
    -o-transform: rotate(180deg) ;
    -ms-transform: rotate(180deg) ;
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -ms-transition: .5s linear all;
    -o-transition: .5s linear all;
    transition: .5s linear all;
  }
}

#menu-close {
  color: rgba(251, 255, 253, 0.90);
  display: none;

  @include breakpoint (tiny) {
    display: block;
  }

  &:hover {
    transform: rotate(90deg) ;
    -webkit-transform: rotate(90deg) ;
    -moz-transform: rotate(90deg) ;
    -o-transform: rotate(90deg) ;
    -ms-transform: rotate(90deg) ;
    -webkit-transition: .5s linear all;
    -moz-transition: .5s linear all;
    -ms-transition: .5s linear all;
    -o-transition: .5s linear all;
    transition: .5s linear all;
  }
}

#sidebar-wrapper.active {
  right: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;

  @include breakpoint(tiny) {
    width: 100%;
    left: 0;
  }

}

.toggle {
  margin: 5px 5px 0 0;
}

.hide {
  display: none;
}

